<h1>Success</h1>
<br><hr>
Product: <%= @session_with_expand.line_items.data[0].description %>
<br>
Amount: <%= number_to_currency(@session_with_expand.amount_total/100) %>
<br>
Checkout status: <%= @session_with_expand.payment_status %>
<hr>